.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item_render_div{
  background-color: rgb(46, 42, 42);
}

.item_render_div_common{
  border: 0.3rem solid grey;
  width: 6%;
}

.item_render_div_magic{
  border: 0.3rem solid blue;
  width: 6%;
}

.item_render_div_rare{
  border: 0.3rem solid yellow;
  width: 6%;
}

.item_render_div_epic{
  border:0.3rem solid rgb(70, 0, 92);
  width: 6%;
}

.item_render_div_legendary{
  border: 0.3rem solid orange;
  width: 6%;
}


